h1 {
  color: #008080;
}

p {
  color: #759e9e;
}

h2 {
  color: #57945c;
  text-align: center;
  font-size: 50px;
}

/* Classes e IDs */
.p_texto {
  color: #ad63df;
}

#titulo_app {
  color: #e7c944;
}

/* Cores */
.nome {
  color: orange;
}

.hexa {
  color: #6a40c4;
}

.rgba {
  color: rgba(17, 197, 214, 1);
}


/* Backgrounds */
.div-background {
  background-image: url('img/bronnimann-unsplash.jpg');
  background-position: center;
  background-size: cover;
  height: 300px;
  margin-bottom: 30px;
}

.div-background h1 {
  text-align: center;
  background-color: #e2dbd3;
  color: #fff;
}

.btn a {
  text-decoration: none;
  background-color:#81f094;
  border: 1px solid #69db7c;
  color: #fff;
  padding: 10px 14px;
}

.btn a:hover {
  background-color: #fff;
  border: 1px solid #69db7c;
  color: #69db7c;
}

/* Fontes */
.family {
  color: #000;
}

.family.serif {
  color: #57945c;
}

.serif {
  font-family: "Times New Roman";
}

.sans-serif {
  font-family: Arial;
}

.monospace {
  font-family: "Courier New";
}

.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

.bold {
  font-weight: bold;
}

.variant {
  font-variant: small-caps;
}