* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

h1 {
  color: #008080;
}

p {
  color: #759e9e;
}

h2 {
  color: #57945c;
  text-align: center;
  font-size: 50px;
}

/* Classes e IDs */
.p_texto {
  color: #ad63df;
}

#titulo_app {
  color: #e7c944;
}

/* Cores */
.nome {
  color: orange;
}

.hexa {
  color: #6a40c4;
}

.rgba {
  color: rgba(17, 197, 214, 1);
}


/* Backgrounds */
.div-background {
  background-image: url('img/bronnimann-unsplash.jpg');
  background-position: center;
  background-size: cover;
  height: 300px;
  margin-bottom: 30px;
}

.div-background h1 {
  text-align: center;
  background-color: #e2dbd3;
  color: #fff;
}

.btn a {
  text-decoration: none;
  background-color:#81f094;
  border: 1px solid #69db7c;
  color: #fff;
  padding: 10px 14px;
}

.btn a:hover {
  background-color: #fff;
  border: 1px solid #69db7c;
  color: #69db7c;
}

/* Fontes */
.family {
  color: #000;
}

.family.serif {
  color: #57945c;
}

.serif {
  font-family: "Times New Roman";
}

.sans-serif {
  font-family: Arial;
}

.monospace {
  font-family: "Courier New";
}

.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

.bold {
  font-weight: bold;
}

.variant {
  font-variant: small-caps;
}

/* boxmodel-bordas */
.boxmodel-borda {
  width: 100px;
  height: 100px;
  background-color: #008080;
  border: 1px dashed #000;
}

/* boxmodel-padding */
.boxmodel-padding {
  width: 200px;
  height: 200px;
  background-color: #92B6D5;
  padding: 20px;
}

.paragrafo-box {
  color: #000;
  margin: 0;
}

/* boxmodel-margin */
.boxmodel-margin {
  width: 200px;
  height: 200px;
  background-color: #58B059;
  padding: 20px;
  text-align: center;
  margin: 40px;
}

.boxmodel-margin .paragrafo-box {
  color: #B05B58;
  margin-top: 25px;
}

/* Display */
.display {
  width: 200px;
  height: 200px;
  background-color: #15797A;
  padding: 20px;
  text-align: center;
  margin: 40px;
  display: inline-block;
}

.display .paragrafo-box {
  color: #B3A92B;
  margin-top: 25px;
}

/* Positions */
.div-position {
  width: 200px;
  height: 200px;
  background-color: #15797A;
  margin: 20px;
}

.static {
  position: static; /* posição padrão */
}

.relative {
  background-color: rgb(200, 150, 30);
  position: relative;
  top: 100px;
  left: 50px;
}

.absolute {
  background-color: rgb(185, 200, 98);
  position: absolute;
  right: 0;
  top: 0;
}

.mini-div {
  height: 50px;
  width: 50px;
  top: 50px;
  left: 100px;
}

.fixed {
  background-color: rgb(110, 90, 210);
  position: fixed;
  bottom: 0;
  right: 0;
  height: 200px;
}

.sticky {
  background-color: rgb(60, 180, 255);
  position: sticky;
  top: 50px;
}

/* float */
.container {
  padding: 50px;
}

.div-float {
  overflow: auto;
}

.img-float {
  height: 200px;
  width: 200px;
  float: left;
}

.float-right {
  float: right;
}

.p-float {
  color: #000;
}

.clear {
  clear: both;
}

/* unidades de medida */
.content {
  margin: 5px 20px;
}

.content p {
  color: rgb(200, 188, 90);
}

.pixel-1 {
  background-color: rgb(100, 255, 205);
  width: 100px;
  height: 100px;
}

.pixel-2 {
  background-color: rgb(50, 125, 205);
  width: 50px;
  height: 50px;
}

.porcentagem {
  height: 500px;
  width: 500px;
  background-color: rgb(56, 129, 72);
}

.porcentagem-1 {
  width: 50%;
  height: 50%;
  background-color: rgb(119, 43, 78);
}

.porcentagem-2 {
  width: 50%;
  height: 50%;
  background-color: rgb(190, 255, 150);
}

.main-em {
  font-size: 50px;
}

.em-1 {
  width: .5em;
  height: .5em;
  background-color: rgb(60, 220, 120);
}

